@model SurveyConfiguratorEntities.BaseQuestion
@using SurveyConfiguratorWeb.Properties
@using SurveyConfiguratorEntities

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(model => model.Type, Captions.QUESTION_TYPE, htmlAttributes: new { @class = "control-label" })
    <div>
        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Text, Captions.QUESTION_TEXT, htmlAttributes: new { @class = "control-label" })
    <div">
        @Html.TextAreaFor(model => model.Text, 6, 50, new { maxlength = 10, @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Order, Captions.QUESTION_ORDER, htmlAttributes: new { @class = "control-label" })
    <div">
        @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control", min = QuestionValidationValues.cQUESTION_ORDER_MIN } })
        @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
</div>