@using SurveyConfiguratorWeb.Properties
<div class="modal fade" id="DeleteConfirmation" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteConfirmationTitle">@Captions.DELETE_CONFIRMATION_TITLE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Captions.DELETE_CONFIRMATION_MESSAGE
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "Survey"))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="pId" name="pId" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Captions.CLOSE</button>
                    <button type="submit" class="btn btn-primary">@Captions.DELETE</button>
                }
            </div>
        </div>
    </div>
</div>
