@model SurveyConfiguratorEntities.SliderQuestion
@using SurveyConfiguratorWeb.Properties
@using SurveyConfiguratorEntities
@using SurveyConfiguratorWeb.Models
<div class="form-group">
    @Html.LabelFor(model => model.StartValueCaption, Captions.QUESTION_START_CAPTION, htmlAttributes: new { @class = "control-label" })
    <div>
        @Html.EditorFor(model => model.StartValueCaption, new { htmlAttributes = new { @class = "form-control", maxlength = QuestionValidationValues.cSTART_CAPTION_LENGTH } })
        @Html.ValidationMessageFor(model => model.StartValueCaption, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.StartValue, Captions.QUESTION_START_VALUE, htmlAttributes: new { @class = "control-label" })
    <div>
        @Html.EditorFor(model => model.StartValue, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.StartValue, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.EndValueCaption, Captions.QUESTION_END_CAPTION, htmlAttributes: new { @class = "control-label" })
    <div>
        @Html.EditorFor(model => model.EndValueCaption, new { htmlAttributes = new { @class = "form-control", maxlength = QuestionValidationValues.cEND_CAPTION_LENGTH } })
        @Html.ValidationMessageFor(model => model.EndValueCaption, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.EndValue, Captions.QUESTION_END_VALUE, htmlAttributes: new { @class = "control-label" })
    <div>
        @Html.EditorFor(model => model.EndValue, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.EndValue, "", new { @class = "text-danger" })
    </div>
</div>
@Html.Hidden(ConstantStringResources.cTYPE_ID, (int)QuestionType.Slider)