@model SurveyConfiguratorEntities.StarsQuestion
@using SurveyConfiguratorWeb.Properties
@{
    ViewBag.Title = Captions.CREATE_QUESTION;
}

<h2>@Captions.CREATE_QUESTION : @Captions.STARS_QUESTION </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.Partial("PartialViews/_BaseQuestion", Model)

    @Html.Partial("PartialViews/_StarsQuestion", Model)

    @Html.Partial("PartialViews/_FormButtons", Model)
</div>
}

