@model SurveyConfiguratorEntities.BaseQuestion
@using SurveyConfiguratorWeb.Properties
@using SurveyConfiguratorEntities
@{
    ViewBag.Title = Captions.EDIT_PAGE_TITLE;
}
<div class="page-header"> @Captions.EDIT_QUESTION</div>

<div class="form-wrapper">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.Partial("PartialViews/_BaseQuestion", Model)

            @switch (Model.Type)
            {
                case SurveyConfiguratorEntities.QuestionType.Smiley:
                    @Html.Partial("PartialViews/_SmileyQuestion", Model);
                    break;
                case SurveyConfiguratorEntities.QuestionType.Stars:
                    @Html.Partial("PartialViews/_StarsQuestion", Model);
                    break;
                case SurveyConfiguratorEntities.QuestionType.Slider:
                    @Html.Partial("PartialViews/_SliderQuestion", Model);
                    break;
            }

            @Html.HiddenFor(model => model.Id)

            @Html.Partial("PartialViews/_FormButtons", Model)
        </div>
    }
</div>
