@model IEnumerable<SurveyConfiguratorEntities.BaseQuestion>
@using SurveyConfiguratorWeb.Properties
@using SurveyConfiguratorWeb.Models
@using SurveyConfiguratorEntities

@{
    ViewBag.Title = Captions.LIST_PAGE_TITLE;
}

<div class="container">
    <div class="page-header"> @Captions.LIST_PAGE_HEADER </div>
    <div class="table-wrapper">
        <div class="row">
            <div class="sort-dropdown">
                <span>@Captions.SORT:</span>
                <select onchange="SortTable(this)">
                    <option disabled selected>@Captions.SORT</option>
                    <option value="Text">@Captions.QUESTION_TEXT</option>
                    <option value="Order">@Captions.QUESTION_ORDER</option>
                    <option value="Type">@Captions.QUESTION_TYPE</option>
                </select>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle add-new" type="button" data-toggle="dropdown">
                    <i class="fa fa-plus"></i> @Captions.ADD_BUTTON
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Create",new {QuestionType = QuestionType.Slider})">@Captions.SLIDER_QUESTION</a></li>
                    <li><a href="@Url.Action("Create",new {QuestionType = QuestionType.Stars})">@Captions.STARS_QUESTION</a></li>
                    <li><a href="@Url.Action("Create",new {QuestionType = QuestionType.Smiley})">@Captions.SMILEY_QUESTION</a></li>
                </ul>
            </div>
        </div>
        <div class="loader" id="loader"></div>
        <div class="alert alert-danger hidden" id="TableError" role="alert">
            @Errors.TABLE_ERROR
        </div>
        <div class="table-container" id="TableContainer">
            <table id="QuestionTable" class="table table-striped table-hover table-bordered hidden">
                <thead>
                    <tr>
                        <th width=54% data-name="text" data-order="desc">
                            @Captions.QUESTION_TEXT
                        </th>
                        <th width=15% data-name="order" data-order="desc">
                            @Captions.QUESTION_ORDER
                        </th>
                        <th width=15% data-name="type" data-order="desc">
                            @Captions.QUESTION_TYPE
                        </th>
                        <th width=15%>@Captions.ACTIONS</th>
                    </tr>
                </thead>
                <tbody id="QuestionTableBody">
                </tbody>
            </table>
        </div>
    </div>
</div>

@Html.Partial("PartialViews/_DeleteConfirmation")

<script>
    GetQuestionList('');
    StartAutoRefresh(@AutoRefreshInterval.mAutoRefreshInterval);
    function ShowDeleteDialog(pQuestionId) {
        $("#pId").val(pQuestionId);
        $("#DeleteConfirmation").modal();
    }
</script>
