@using SurveyConfiguratorWeb.Properties
@using SurveyConfiguratorWeb.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://www.myersdaily.org/joseph/javascript/md5.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/script")
    @if (System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft == true)
    {
        @Styles.Render("~/Content/right_to_left")
    }

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <span class="nav-link">@Html.ActionLink(Captions.LIST_PAGE_HEADER, ConstantStringResources.cINDEX_ACTION, ConstantStringResources.cSURVEY_CONTROLLER, new { area = "" }, new { @class = "navbar-brand" })</span>

            <span class="language">
                @{
                    switch (Session[ConstantStringResources.cSESSION_KEY_LANGUAGE])
                    {
                        case ConstantStringResources.cARABIC_CULTURE:
                            <span class="nav-link">@Html.ActionLink(Captions.ENGLISH_LANGUAGE, ConstantStringResources.cSET_LANGUAGE_ACTION, ConstantStringResources.cSURVEY_CONTROLLER, new { Language = ConstantStringResources.cENGLISH_CULTURE }, new { @class = "navbar-brand" })</span>
                            break;
                        default:
                            <span class="nav-link">@Html.ActionLink(Captions.ARABIC_LANGUAGE, ConstantStringResources.cSET_LANGUAGE_ACTION, ConstantStringResources.cSURVEY_CONTROLLER, new { Language = ConstantStringResources.cARABIC_CULTURE }, new { @class = "navbar-brand" })</span>
                            break;
                    }

                }
            </span>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @Html.Partial("PartialViews/_MessageDialog")
    @RenderSection("scripts", required: false)
</body>
</html>
